<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <servlet>
    <description></description>
    <display-name>CreatedQuizInfoInSession</display-name>
    <servlet-name>CreatedQuizInfoInSession</servlet-name>
    <servlet-class>servlet.CreatedQuizInfoInSession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreatedQuizInfoInSession</servlet-name>
    <url-pattern>/CreatedQuizInfoInSession</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <display-name>QuestionAnswerSession</display-name>
    <servlet-name>QuestionAnswerSession</servlet-name>
    <servlet-class>servlet.QuestionAnswerSession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuestionAnswerSession</servlet-name>
    <url-pattern>/QuestionAnswerPageDirect</url-pattern>
  </servlet-mapping>   
  
  <servlet>
  	<servlet-name>QuestionAnswerServlet</servlet-name>
  	<servlet-class>servlet.QuestionAnswerSession</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>QuestionAnswerServlet</servlet-name>
  	<url-pattern>/QuestionAnswerSession</url-pattern>
  </servlet-mapping>
</web-app>